*.main-box{
   </div> 

}

.box1{
    width: 200px;
    height: 200px;
    background-color: red;
}
.box2{
      width: 200px;
    height: 200px;
    background-color: rgb(255, 187, 0);

}
.box3{
      width: 200px;
    height: 200px;
    background-color: rgb(212, 0, 255);
}
.box4{
      width: 200px;
    height: 200px;
    background-color: rgb(123, 255, 0);
}

